<div class="products">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-sm-6">
                <h2 class="bottomtitle products__title"><span>Карточки товаров</span></h2>
            </div>
            <div class="col-12 col-sm-6 products__catlink"><a>Ссылка в каталог</a></div>
        </div>
        <div class="row products__list">
            <!-- Product1-->
            <div class="col-sm-6 col-lg-4 col-xl-3 product">
                <a class="product__mark" href="#">Mark</a><a class="product__title" href="#">Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany</a>
                <div class="product__info">
                    <div class="product__rating">
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                    </div>
                    <a class="product__comments" href="#">Отзывы (10)</a>
                    <div class="product__quantity">В наличии: 24 шт.</div>
                </div>
                <div class="product__preview">
                    <ul class="product__labels">
                        <li class="product__label">
                            <div class="sprite sprite__product_sun"></div>
                            <div class="product__labelTitle">Летняя</div>
                        </li>
                        <li class="product__label">
                            <div class="sprite sprite__product_car"></div>
                            <div class="product__labelTitle">Легковая</div>
                        </li>
                        <li class="product__label">
                            <div class="sprite sprite__product_new"></div>
                            <div class="product__labelTitle">Новая</div>
                        </li>
                    </ul>
                    <img class="product__picture" src="./images/product1.jpg" alt="Product 1">
                </div>
                <div class="product__actions">
                    <div class="product__action sprite sprite__action_new">Новинка</div>
                    <div class="product__action sprite sprite__action_hit">Хит</div>
                    <div class="product__action sprite sprite__action_discont">Скидка</div>
                </div>
                <div class="product__price">
                    <div class="product__priceNew">599<span>&nbsp;грн.</span></div>
                    <div class="product__priceOld">1 250<span>&nbsp;грн.</span></div>
                </div>
                <button class="button product__buy">
                    <div class="sprite sprite__product_addtobasket"></div>
                    <span>Купить товар</span>
                </button>
                <ul class="product__using">
                    <li class="product__usingItem">
                        <a href="#">
                            <div class="product__usingItem sprite sprite__product_compare"></div>
                            <span>Сравнить товар</span>
                        </a>
                    </li>
                    <li class="product__usingItem">
                        <a href="#">
                            <div class="product__usingItem sprite sprite__product_addtofavorite"></div>
                            <span>В избранное</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Product 2-->
            <div class="col-sm-6 col-lg-4 col-xl-3 product">
                <a class="product__mark" href="#">Mark</a><a class="product__title" href="#">Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany</a>
                <div class="product__info">
                    <div class="product__rating">
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon"></i>
                        <i class="fas fa-star product__rating-icon"></i>
                    </div>
                    <a class="product__comments" href="#">Отзывы (10)</a>
                    <div class="product__quantity">В наличии: 24 шт.</div>
                </div>
                <div class="product__preview">
                    <ul class="product__labels">
                        <li class="product__label">
                            <div class="sprite sprite__product_sun"></div>
                            <div class="product__labelTitle">Летняя</div>
                        </li>
                        <li class="product__label">
                            <div class="sprite sprite__product_new"></div>
                            <div class="product__labelTitle">Новая</div>
                        </li>
                    </ul>
                    <img class="product__picture" src="./images/product2.jpg" alt="Product 2">
                </div>
                <div class="product__actions">
                    <div class="product__action sprite sprite__action_new">Новинка</div>
                    <div class="product__action sprite sprite__action_hit">Хит</div>
                </div>
                <div class="product__price">
                    <div class="product__priceNew">599<span>&nbsp;грн.</span></div>
                    <div class="product__priceOld">1 250<span>&nbsp;грн.</span></div>
                </div>
                <button class="button product__buy">
                    <div class="sprite sprite__product_addtobasket"></div>
                    <span>Купить товар</span>
                </button>
                <ul class="product__using">
                    <li class="product__usingItem">
                        <a href="#">
                            <div class="product__usingItem sprite sprite__product_compare"></div>
                            <span>Сравнить товар</span>
                        </a>
                    </li>
                    <li class="product__usingItem">
                        <a href="#">
                            <div class="product__usingItem sprite sprite__product_addtofavorite"></div>
                            <span>В избранное</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Product 3-->
            <div class="col-sm-6 col-lg-4 col-xl-3 product">
                <a class="product__mark" href="#">Mark</a><a class="product__title" href="#">Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany</a>
                <div class="product__info">
                    <div class="product__rating">
                        <i class="fas fa-star product__rating-icon"></i>
                        <i class="fas fa-star product__rating-icon"></i>
                        <i class="fas fa-star product__rating-icon"></i>
                        <i class="fas fa-star product__rating-icon"></i>
                        <i class="fas fa-star product__rating-icon"></i>
                    </div>
                    <a class="product__comments" href="#">Без отзывов</a>
                    <div class="product__quantity">В наличии: 24 шт.</div>
                </div>
                <div class="product__preview">
                    <ul class="product__labels">
                        <li class="product__label">
                            <div class="sprite sprite__product_sun"></div>
                            <div class="product__labelTitle">Летняя</div>
                        </li>
                        <li class="product__label">
                            <div class="sprite sprite__product_car"></div>
                            <div class="product__labelTitle">Легковая</div>
                        </li>
                        <li class="product__label">
                            <div class="sprite sprite__product_new"></div>
                            <div class="product__labelTitle">Новая</div>
                        </li>
                    </ul>
                    <img class="product__picture" src="./images/product3.jpg" alt="Product 3">
                </div>
                <div class="product__actions">
                    <div class="product__action sprite sprite__action_new">Новинка</div>
                </div>
                <div class="product__price">
                    <div class="product__priceNew">9 570<span>&nbsp;грн.</span></div>
                    <div class="product__priceOld">11 250<span>&nbsp;грн.</span></div>
                </div>
                <button class="button product__buy">
                    <div class="sprite sprite__product_addtobasket"></div>
                    <span>Купить товар</span>
                </button>
                <ul class="product__using">
                    <li class="product__usingItem">
                        <a href="#">
                            <div class="product__usingItem sprite sprite__product_compare"></div>
                            <span>Сравнить товар</span>
                        </a>
                    </li>
                    <li class="product__usingItem">
                        <a href="#">
                            <div class="product__usingItem sprite sprite__product_addtofavorite"></div>
                            <span>В избранное</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Product 4-->
            <div class="col-sm-6 col-lg-4 col-xl-3 product">
                <a class="product__mark" href="#">Mark</a><a class="product__title" href="#">Антифриз Fosser Antifreeze FA 12 Readymix 1 л Concentrat, Germany</a>
                <div class="product__info">
                    <div class="product__rating">
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                        <i class="fas fa-star product__rating-icon product__rating-icon_rated"></i>
                    </div>
                    <a class="product__comments" href="#">Отзывы (10)</a>
                    <div class="product__quantity">В наличии: 24 шт.</div>
                </div>
                <div class="product__preview">
                    <ul class="product__labels">
                        <li class="product__label">
                            <div class="sprite sprite__product_sun"></div>
                            <div class="product__labelTitle">Летняя</div>
                        </li>
                        <li class="product__label">
                            <div class="sprite sprite__product_car"></div>
                            <div class="product__labelTitle">Легковая</div>
                        </li>
                    </ul>
                    <img class="product__picture" src="./images/product4.jpg" alt="Product 4">
                </div>
                <div class="product__actions"></div>
                <div class="product__price">
                    <div class="product__priceNew">599<span>&nbsp;грн.</span></div>
                </div>
                <button class="button product__buy">
                    <div class="sprite sprite__product_addtobasket"></div>
                    <span>Купить товар</span>
                </button>
                <ul class="product__using">
                    <li class="product__usingItem">
                        <a href="#">
                            <div class="product__usingItem sprite sprite__product_compare"></div>
                            <span>Сравнить товар</span>
                        </a>
                    </li>
                    <li class="product__usingItem">
                        <a href="#">
                            <div class="product__usingItem sprite sprite__product_addtofavorite"></div>
                            <span>В избранное</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>