<div class="menu">
    <header class="menu__header">
        <div class="menu__toggle">
            <span></span>
        </div>
        <div class="menu__title">Меню</div>
    </header>
    <ul class="menu__items">
        <li class="menu__item"><a href="#">Ссылка 1</a></li>
        <li class="menu__item"><a href="#">Ссылка 2</a></li>
        <li class="menu__item"><a href="#">Ссылка 3</a></li>
        <li class="menu__item"><a href="#">Ссылка 4</a></li>
        <li class="menu__item"><a href="#">Ссылка 5</a></li>
        <li class="menu__item"><a href="#">Ссылка 6</a></li>
        <li class="menu__item"><a href="#">Ссылка 7</a></li>
    </ul>
</div>