<div class="top-logo">
    <a href="/">
        <img src="./images/logo_top.png", alt="Logo">
    </a>
</div>
<div class="top-logo-mobi">
    <a href="/">
        <img src="./images/logo_top_mobi.png", alt="Logo mobile">
    </a>
</div>