<div class="filter">
    <div class="filter__tabs">
        <div for="filter__tab1" class="filter__tab tab-first filter__tab_active">
            <a href="#" class="filter__link">
                {{> icon iconName="car" classNames="filter__icon filter__icon_car" }}
                <span class="filter__title">Ссылка 1</span>
            </a>
        </div>
        <div for="filter__tab2" class="filter__tab teab-second">
          <a href="#" class="filter__link">
            {{> icon iconName="truck" classNames="filter__icon filter__icon_truck" }}
            <span class="filter__title">Ссылка 2</span>
          </a>
        </div>
        <div for="filter__tab3" class="filter__tab tab-third">
          <a href="#" class="filter__link">
            {{> icon iconName="wheel" classNames="filter__icon filter__icon_wheel" }}
            <span class="filter__title">Ссылка 3</span>
          </a>
        </div>
        <div for="filter__tab4" class="filter__tab tab-fourth">
          <a href="#" class="filter__link">
            {{> icon iconName="oil" classNames="filter__icon filter__icon_oil" }}
            <span class="filter__title">Ссылка 4</span>
          </a>
        </div>
        <div for="filter__tab5" class="filter__tab tab-fifth">
          <a href="#" class="filter__link">
            {{> icon iconName="battery" classNames="filter__icon filter__icon_battery" }}
            <span class="filter__title">Ссылка 5</span>
          </a>
        </div>
    </div>
    <ul class="filter__blocks">
        <li class="filter__block filter__block_active">
            <div class="filter__innerTabs">
                <input type="radio" id="tab1" name="tabs" checked="checked">
                <label for="tab1" class="filter__innerTab">Tab 1</label>
                <input type="radio" id="tab2" name="tabs">
                <label for="tab2" class="filter__innerTab">Tab 2</label>
                <div class="filter__innerBlock">
                    <form action="" class="filter__innerBlocks">
                        <div class="filter__selects">
                            <div class="filter__selectsItem">
                                <div class="filter__selector">
                                    <select>
                                        <option value="">Select 1</option>
                                        <option value="">Опция 11</option>
                                        <option value="">Опция 12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter__selectsItem">
                                <div class="filter__selector">
                                    <select>
                                        <option value="">Select 2</option>
                                        <option value="">Опция 21</option>
                                        <option value="">Опция 22</option>
                                        <option value="">Опция 23</option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter__selectsItem">
                                <div class="filter__selector">
                                    <select>
                                        <option value="">Select 3</option>
                                        <option value="">Опция 31</option>
                                        <option value="">Опция 32</option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter__selectsItem">
                                <div class="filter__selector">
                                    <select>
                                        <option value="">Select 4</option>
                                        <option value="">Опция 41</option>
                                        <option value="">Опция 42</option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter__selectsItem">
                                <div class="filter__selector">
                                    <select>
                                        <option value="">Select 5</option>
                                        <option value="" selected>Опция 51</option>
                                        <option value="">Опция 52</option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter__selectsItem">
                                <div class="filter__selector">
                                    <select>
                                        <option value="">Select 6</option>
                                        <option value="">Опция 61</option>
                                        <option value="">Опция 62</option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter__selectsItem">
                                <div class="filter__selector">
                                    <select>
                                        <option value="">Select 7</option>
                                        <option value="">Опция 71</option>
                                        <option value="">Опция 72</option>
                                    </select>
                                </div>
                            </div>
                            <div class="filter__selectsItem">
                                <div class="filter__prices">
                                    <div class="filter__pricesTitle">Цена</div>
                                    <div class="filter__pricesInputs">
                                        <div class="filter__pricesInputGroup">
                                            <input type="text" class="filter__input" name="price_from" placeholder="от">
                                        </div>
                                        <div class="filter__pricesInputGroup">
                                            <input type="text" class="filter__input" name="price_to" placeholder="до">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter__buttons">
                            <button class="button filter__reset" type="reset">
                                <span class="sprite sprite__ico_reset_form"></span>
                                <span>Очистить фильтр</span>
                            </button>
                            <button class="button filter__submit">
                                <span>Применить фильтр</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="filter__innerBlock filter__innerBlock_active">
                    <form action="" class="filter__innerBlocks">
                    <div class="filter__selects">
                        <div class="filter__selectsItem">
                            <div class="filter__selector">
                                <select>
                                    <option value="">Select 1</option>
                                    <option value="">Опция 11</option>
                                    <option value="">Опция 12</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__selectsItem">
                            <div class="filter__selector">
                                <select>
                                    <option value="">Select 2</option>
                                    <option value="">Опция 21</option>
                                    <option value="">Опция 22</option>
                                    <option value="">Опция 23</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__selectsItem">
                            <div class="filter__selector">
                                <select>
                                    <option value="">Select 3</option>
                                    <option value="">Опция 31</option>
                                    <option value="">Опция 32</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__selectsItem">
                            <div class="filter__selector">
                                <select>
                                    <option value="">Select 4</option>
                                    <option value="">Опция 41</option>
                                    <option value="">Опция 42</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__selectsItem">
                            <div class="filter__selector">
                                <select>
                                    <option value="">Select 6</option>
                                    <option value="">Опция 61</option>
                                    <option value="">Опция 62</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__selectsItem">
                          <div class="filter__prices">
                              <div class="filter__pricesTitle">Цена</div>
                              <div class="filter__pricesInputs">
                                  <div class="filter__pricesInputGroup">
                                      <input type="text" class="filter__input" name="price_from" placeholder="от">
                                  </div>
                                  <div class="filter__pricesInputGroup">
                                      <input type="text" class="filter__input" name="price_to" placeholder="до">
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                            <div class="filter__buttons">
                                <button class="button filter__reset" type="reset">
                                    <span class="sprite sprite__ico_reset_form"></span>
                                    <span>Очистить фильтр</span>
                                </button>
                                <button class="button filter__submit">
                                    <span>Применить фильтр</span>
                                </button>
                            </div>
                        </form>
                    </div>
            </div>
        </li>
        <li class="filter__block">Блок 2</li>
        <li class="filter__block">Блок 3</li>
        <li class="filter__block">Блок 4</li>
        <li class="filter__block">Блок 5</li>
    </ul>
</div>