<script type="text/html" data-modal="callback">
    <div id="modal-callback" class="modal">
        <div class="modal__content callback">
            <div class="modal__title">Перезвоните мне</div>
            <form class="callback__form">
                <label for="callback-phone" class="callback__label">Номер телефона</label>
                <input type="text" id="callback-phone" name="phone" class="callback__phone"  placeholder="+380 (__) ___ - __ - __" autocomplite="off">
                <button class="button callback__submit">Перезвоните мне</button>
            </form>
        </div>
    </div>
</script>