<script type="text/html" data-modal="thanks">
    <div class="modal" id="modal-thanks">
        <div class="modal__content callback">
            <div class="thanks__content">
                <div class="thanks__title"></div>
                <div class="thanks__description">Мы свяжемся с Вами в ближайшее время.</div>
            </div>
        </div>
    </div>
</script>