<footer class="main-footer">
    <div class="container">
        <div class="main-footer__top">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-xl-5">
                    <h3 class="bottomtitle"><span>Блок 1</span></h3>
                    <form action="#" class="subscribe">
                        <div class="subscribe__content_white">Будьте в курсе новостей и новинок!</div>
                        <div class="subscribe__content_gray">Подписывайтесь на рассылку</div>
                        <div class="subscribe__form">
                            <input name="email" type="email" class="subscribe__field" placeholder="Укажите свой email для подписки" required autocomplete="off">
                            <button class="subscribe__submit">Подписаться</button>
                        </div>
                        <div class="subscribe__error"></div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="row justify-content-between">
                        <div class="col-sm-6 col-md-4">
                            <div class="bottom-menu">
                                <h3 class="bottom-menu__header bottomtitle"><span>Блок ссылок 1</span></h3>
                                <ul class="bottom-menu__list">
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 1</a>
                                    </li>
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 2</a>
                                    </li>
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 3</a>
                                    </li>
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="bottom-menu">
                                <h3 class="bottom-menu__header bottomtitle"><span>Блок 2</span></h3>
                                <ul class="bottom-menu__list">
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 1</a>
                                    </li>
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 2</a>
                                    </li>
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 3</a>
                                    </li>
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="bottom-menu">
                                <h3 class="bottom-menu__header bottomtitle"><span>Блок ссылок 3</span></h3>
                                <ul class="bottom-menu__list">
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 1</a>
                                    </li>
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 2</a>
                                    </li>
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 3</a>
                                    </li>
                                    <li class="bottom-menu__item">
                                        <a href="#" class="bottom-menu__link">Ссылка 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer__bottom">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="bottom-logo">
                        <a href="#">
                            <img src="./images/logo_bottom.png" alt="Logo bottom">
                        </a>
                        <div class="bottom-logo__copy">&copy; Copyrith 2018. Тестовое задание Wezom</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            {{> social-media }}
                        </div>
                        <div class="col-lg-6">
                            <div class="developer">
                                <img src="./images/logo_w.png" alt="Logo of debelopment" class="developer__logo">
                                <div class="developer__content">
                                    <div class="developer__content-gray">Разработка тестового</div>
                                    <div class="developer__content-white">Wezom Agency</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>