<form action="#" class="search">
    <input type="text" class="search__field" name="main_search" minlength="2" autocomplete="off" required
           placeholder="Поиск по сайту" data-msg-container=".search__error">       
  <div class="search__error search__error_mobile"></div>
  <div class="search__actions">
    <div class="search__select">
        <select name="category" id="">
            <option value="" selected>Все категории</option>
            <option value="">Категория 1</option>
            <option value="">Категория 2</option>
            <option value="">Какая-то длинная категория</option>
        </select>
    </div>
    <button class="search__submit">Поиск</button>
  </div>
</form>
<div class="search__error search__error_desktop"></div>
