<ul class="social-media">
    <li class="social-media__item">
        <a href="#" class="social-media__link">
            <i class="fab fa-vk"></i>
        </a>
    </li>
    <li class="social-media__item">
        <a href="#" class="social-media__link">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="social-media__item">
        <a href="#" class="social-media__link">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="social-media__item">
        <a href="#" class="social-media__link">
            <i class="fab fa-youtube"></i>
        </a>
    </li>
</ul>