<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Page of Internet shop</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script>
        const FontAwesomeConfig = {
            searchPseudoElements: true
        };
    </script>
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script defer="defer" src="js/bundle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{> body}}

</body>
</html>