<header class="main-header">
    <div class="container main-header__container">
            {{> top-logo }}
        <div class="main-header__nav">
            {{> nav }}
        </div>
        <button class="main-header__auth-btn">
           <span class="sprite sprite__ico_entrance"></span>
           <span class="main-header__auth-title">Вход</span>
        </button>
        {{> menu-toggle }}
    </div>
</header>