<div class="top-contacts">
    <div class="top-contacts__item top-contacts__item_first">+380 98 170 00 740</div>
    <div class="top-contacts__item top-contacts__item_last">+380 98 170 00 740</div>
    <button class="top-contacts__button">
        <span class="sprite sprite__ico_phone"></span>
        <span>Перезвонить мне</span>
    </button>
</div>
